In [1]:
import pandas as pd
import datascience
import numpy as np
import matplotlib.pyplot as plt

In [2]:
edf_data = pd.read_csv('EDF_Database.csv')
edf_data.head(6)

,Place FIPS,"Unincorporated, Non-Place FIPS",Geography Name,County FIPS,County Name,Total Population,SE:A00002. Population Density (Per Sq. Mile),Population Density (Per Sq. Mile),Area (Land),SE:A01001. Age,...,At or Above Poverty Level.1,SE:A13003C. Poverty Status in 2020 for Population Age 65 and Over,Population Age 65 and Over for Whom Poverty Status Is Determined:,Living in Poverty.2,At or Above Poverty Level.2,Rural Capacity (Headwaters Index),Social Vulnerability (CDC Index),Percent of Land in 500-Year Floodplain,Percent of Land in 100-Year Floodplain,Total Percent of Land at Some Level of Flood Risk
0,3700160.0,NaN,Aberdeen town,125,Moore,"7,862",,774.8,10.15,,...,"4,084",,"1,313",61,"1,252",74.0,0.480342,0.430322,4.216025,4.646347
1,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,,...,91.50%,,NaN,4.70%,95.40%,NaN,NaN,NaN,NaN,NaN
2,3700440.0,NaN,Advance CDP,59,Davie,"1,135",,158.5,7.16,,...,526,,152,13,139,NaN,0.178556,0.076370,10.223087,10.299457
3,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,,...,86.80%,,NaN,8.60%,91.50%,NaN,NaN,NaN,NaN,NaN
4,3700500.0,NaN,Ahoskie town,91,Hertford,"4,819",,1095,4.40,,...,"2,218",,803,160,643,67.0,0.858834,1.366875,10.222625,11.589500
5,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,,...,78.10%,,NaN,19.90%,80.10%,NaN,NaN,NaN,NaN,NaN

In [4]:
# Count total values in Place FIPS
edf_data['Place FIPS'].count()

776

In [5]:
edf_data['Place FIPS'].isnull().count()

3618

In [6]:
len(edf_data)

3618

In [4]:
edf_data_2 = edf_data[edf_data['Place FIPS'].notnull()]
len(edf_data_2)

776

In [8]:
edf_data_2

,Place FIPS,"Unincorporated, Non-Place FIPS",Geography Name,County FIPS,County Name,Total Population,SE:A00002. Population Density (Per Sq. Mile),Population Density (Per Sq. Mile),Area (Land),SE:A01001. Age,...,At or Above Poverty Level.1,SE:A13003C. Poverty Status in 2020 for Population Age 65 and Over,Population Age 65 and Over for Whom Poverty Status Is Determined:,Living in Poverty.2,At or Above Poverty Level.2,Rural Capacity (Headwaters Index),Social Vulnerability (CDC Index),Percent of Land in 500-Year Floodplain,Percent of Land in 100-Year Floodplain,Total Percent of Land at Some Level of Flood Risk
0,3700160.0,NaN,Aberdeen town,125,Moore,"7,862",,774.8,10.15,,...,"4,084",,"1,313",61,"1,252",74.0,0.480342,0.430322,4.216025,4.646347
2,3700440.0,NaN,Advance CDP,59,Davie,"1,135",,158.5,7.16,,...,526,,152,13,139,NaN,0.178556,0.076370,10.223087,10.299457
4,3700500.0,NaN,Ahoskie town,91,Hertford,"4,819",,1095,4.40,,...,"2,218",,803,160,643,67.0,0.858834,1.366875,10.222625,11.589500
6,3700640.0,NaN,Alamance village,1,Alamance,"1,280",,1609.8,0.80,,...,717,,186,6,180,68.0,0.155015,1.441673,4.644978,6.086651
8,3700680.0,NaN,Albemarle city,167,Stanly,"16,073",,920.6,17.46,,...,"7,086",,"3,107",433,"2,674",87.0,0.674897,0.636167,7.190647,7.826814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1542,3775880.0,NaN,Yadkin College CDP,57,Davidson,696,NaN,241.5,2.88,,...,451,,17,0,17,NaN,0.711202,0.000000,18.048295,18.048295
1544,3775960.0,NaN,Yadkinville town,197,Yadkin,"2,892",NaN,986.9,2.93,,...,"1,305",,601,27,574,68.0,0.689500,0.000000,0.086351,0.086351
1546,3776000.0,NaN,Yanceyville town,33,Caswell,"2,830",NaN,408.6,6.93,,...,644,,731,225,506,52.0,0.964238,0.005202,4.781693,4.786895
1548,3776200.0,NaN,Youngsville town,69,Franklin,"2,225",NaN,"1,213.50",1.83,,...,"1,273",,130,2,128,75.0,0.220796,0.000000,1.286394,1.286394
1550,3776220.0,NaN,Zebulon town,183,Wake,"5,712",NaN,"1,088.80",5.25,,...,"2,644",,"1,065",157,908,NaN,0.722990,0.584495,3.709574,4.294068

In [9]:
isinstance(edf_data_2['Place FIPS'][0], float)

True

In [10]:
edf_data_2.drop

<bound method DataFrame.drop of       Place FIPS  Unincorporated, Non-Place FIPS      Geography Name  \
0      3700160.0                             NaN       Aberdeen town
2      3700440.0                             NaN         Advance CDP
4      3700500.0                             NaN        Ahoskie town
6      3700640.0                             NaN    Alamance village
8      3700680.0                             NaN      Albemarle city
...          ...                             ...                 ...
1542   3775880.0                             NaN  Yadkin College CDP
1544   3775960.0                             NaN    Yadkinville town
1546   3776000.0                             NaN    Yanceyville town
1548   3776200.0                             NaN    Youngsville town
1550   3776220.0                             NaN        Zebulon town

     County FIPS County Name Total Population  \
0            125       Moore            7,862
2             59       Davie            1,135
4             91    Hertford            4,819
6              1    Alamance            1,280
8            167      Stanly           16,073
...          ...         ...              ...
1542          57   Davidson               696
1544         197     Yadkin             2,892
1546          33    Caswell             2,830
1548          69   Franklin             2,225
1550         183       Wake             5,712

     SE:A00002. Population Density (Per Sq. Mile)  \
0
2
4
6
8
...                                           ...
1542                                          NaN
1544                                          NaN
1546                                          NaN
1548                                          NaN
1550                                          NaN

     Population Density (Per Sq. Mile)  Area (Land) SE:A01001. Age  ...  \
0                                774.8        10.15                 ...
2                                158.5         7.16                 ...
4                                 1095         4.40                 ...
6                               1609.8         0.80                 ...
8                                920.6        17.46                 ...
...                                ...          ...            ...  ...
1542                             241.5         2.88                 ...
1544                             986.9         2.93                 ...
1546                             408.6         6.93                 ...
1548                          1,213.50         1.83                 ...
1550                          1,088.80         5.25                 ...

     At or Above Poverty Level.1  \
0                          4,084
2                            526
4                          2,218
6                            717
8                          7,086
...                          ...
1542                         451
1544                       1,305
1546                         644
1548                       1,273
1550                       2,644

     SE:A13003C. Poverty Status in 2020 for Population Age 65 and Over  \
0
2
4
6
8
...                                                 ...
1542
1544
1546
1548
1550

     Population Age 65 and Over for Whom Poverty  Status Is Determined:  \
0                                                 1,313
2                                                   152
4                                                   803
6                                                   186
8                                                 3,107
...                                                 ...
1542                                                 17
1544                                                601
1546                                                731
1548                                                130
1550                                              1,065

     Living in Poverty.2 At or Above Poverty Level.2  \
0                     61                       1,252
2                     13                         139
4                    160                         643
6                      6                         180
8                    433                       2,674
...                  ...                         ...
1542                   0                          17
1544                  27                         574
1546                 225                         506
1548                   2                         128
1550                 157                         908

     Rural Capacity (Headwaters Index) Social Vulnerability (CDC Index)  \
0                                 74.0                         0.480342
2                                  NaN                         0.178556
4                                 67.0                         0.858834
6                                 68.0                         0.155015
8                                 87.0                         0.674897
...                                ...                              ...
1542                               NaN                         0.711202
1544                              68.0                         0.689500
1546                              52.0                         0.964238
1548                              75.0                         0.220796
1550                               NaN                         0.722990

     Percent of Land in 500-Year Floodplain  \
0                                  0.430322
2                                  0.076370
4                                  1.366875
6                                  1.441673
8                                  0.636167
...                                     ...
1542                               0.000000
1544                               0.000000
1546                               0.005202
1548                               0.000000
1550                               0.584495

     Percent of Land in 100-Year Floodplain  \
0                                  4.216025
2                                 10.223087
4                                 10.222625
6                                  4.644978
8                                  7.190647
...                                     ...
1542                              18.048295
1544                               0.086351
1546                               4.781693
1548                               1.286394
1550                               3.709574

     Total Percent of Land at Some Level of Flood Risk
0                                             4.646347
2                                            10.299457
4                                            11.589500
6                                             6.086651
8                                             7.826814
...                                                ...
1542                                         18.048295
1544                                          0.086351
1546                                          4.786895
1548                                          1.286394
1550                                          4.294068

[776 rows x 109 columns]>

Below I converted the pandas dataframe to a datascience table. This was done for techanical reasons because I like the datascience library better than pandas.

In [11]:
# convert pandas dataframe to datascience table
edf_data_3 = datascience.Table.from_df(edf_data_2)
edf_data_3

Place FIPS  | Unincorporated, Non-Place FIPS | Geography Name     | County FIPS | County Name | Total Population | SE:A00002. Population Density (Per Sq. Mile) | Population Density (Per Sq. Mile) | Area (Land) | SE:A01001. Age | Under 5 Years | 5 to 9 Years | 10 to 14 Years | 15 to 17 Years | 18 to 24 Years | 25 to 34 Years | 35 to 44 Years | 45 to 54 Years | 55 to 64 Years | 65 to 74 Years | 75 to 84 Years | 85 Years and Over | SE:A03001. Race | White Alone | Black or African American Alone | American Indian and Alaska Native Alone | Asian Alone | Native Hawaiian and Other Pacific Islander Alone | Some Other Race Alone | Two or More Races | SE:B04001. Hispanic or Latino  | Not Hispanic or Latino: | Hispanic or Latino | SE:A12001. Educational Attainment for Population 25 Years and Over | Population 25 Years and Over: | Less than High School | High School Graduate (Includes Equivalency) | Some College | Bachelor's Degree | Master's Degree | Professional School Degree | Doctorate Degree | SE:B12001. Educational Attainment for Population 25 Years and Over (Collapsed Version) | Population 25 Years and Over:.1 | Less than High School.1 | High School Diploma | Bachelor's Degree or Better | SE:A14001. Household Income (In 2020 Inflation Adjusted Dollars) | Households: | Less than $10,000 | $10,000 to $14,999 | $15,000 to $19,999 | $20,000 to $24,999 | $25,000 to $29,999 | $30,000 to $34,999 | $35,000 to $39,999 | $40,000 to $44,999 | $45,000 to $49,999 | $50,000 to $59,999 | $60,000 to $74,999 | $75,000 to $99,999 | $100,000 to $124,999 | $125,000 to $149,999 | $150,000 to $199,999 | $200,000 or More | SE:A14006. Median Household Income (In 2020 Inflation Adjusted Dollars) | Median Household Income (In 2020 Inflation Adjusted Dollars) | SE:A14015. Median Household Income by Tenure (In 2020 Inflation Adjusted Dollars) | Median Household Income Occupied Housing Units: | Owner Occupied | Renter Occupied | SE:A14024. Per Capita Income (In 2020 Inflation Adjusted Dollars) | Per Capita Income (In 2020 Inflation Adjusted Dollars) | SE:A10060. Tenure | Occupied Housing Units: | Owner Occupied.1 | Renter Occupied.1 | SE:B10060. White vs Non-White Homeowners | Owner Occupied Housing Units: | White Alone, Not Hispanic or Latino Homeowners  | Non-White Homeowners | SE:A10035. House Value for All Owner-Occupied Housing Units | Owner-Occupied Housing Units: | Less than $20,000 | $20,000 to $49,999 | $50,000 to $99,999 | $100,000 to $149,999 | $150,000 to $299,999 | $300,000 to $499,999 | $500,000 to $749,999 | $750,000 to $999,999 | $1,000,000 or More | SE:A13003A. Poverty Status in 2020 for Children Under 18 | Population Under 18 Years of Age for Whom Poverty Status Is Determined: | Living in Poverty | At or Above Poverty Level | SE:A13003B. Poverty Status in 2020 for Population Age 18 to 64 | Population Age 18 to 64 for Whom Poverty Status  Is Determined: | Living in Poverty.1 | At or Above Poverty Level.1 | SE:A13003C. Poverty Status in 2020 for Population Age 65 and Over | Population Age 65 and Over for Whom Poverty  Status Is Determined: | Living in Poverty.2 | At or Above Poverty Level.2 | Rural Capacity (Headwaters Index) | Social Vulnerability (CDC Index) | Percent of Land in 500-Year Floodplain | Percent of Land in 100-Year Floodplain | Total Percent of Land at Some Level of Flood Risk
3.70016e+06 | nan                            | Aberdeen town      | 125         | Moore       | 7,862            |                                              | 774.8                             | 10.15       |                | 849           | 723          | 277            | 116            | 434            | 1,116          | 1,279          | 821            | 821            | 706            | 589            | 131               | nan             | 6,449       | 1,092                           | 73                                      | 1           | 0                                                | 89                    | 158               |                                | 7,524                   | 338                |                                                                    | 5,463                         | 306                   | 1,271                                       | 1,917        | 1,380             | 505             | 66                         | 18               |                                                                                        | 5,463                           | 306                     | 3,188               | 1,969                       |                                                                  | 3,136       | 79                | 147                | 138                | 95                 | 217                | 172                | 251                | 77                 | 72                 | 350                | 542                | 377                | 282                  | 130                  | 107                  | 100              |                                                                         | $58,770                                                      |                                                                                   | $58,770                                         | $62,137        | $35,563         |                                                                   | $28,117                                                |                   | 3,136                   | 2,107            | 1,029             |                                          | 2,107                         | 1,692                                           | 415                  |                                                             | 2,107                         | 0                 | 0                  | 153                | 358                  | 1,165                | 418                  | 13                   | 0                    | 0                  |                                                          | 1,962                                                                   | 100               | 1,862                     |                                                                | 4,462                                                           | 378                 | 4,084                       |                                                                   | 1,313                                                              | 61                  | 1,252                       | 74                                | 0.480342                         | 0.430322                               | 4.21602                                | 4.64635
3.70044e+06 | nan                            | Advance CDP        | 59          | Davie       | 1,135            |                                              | 158.5                             | 7.16        |                | 141           | 116          | 87             | 33             | 0              | 139            | 102            | 182            | 183            | 87             | 65             | 0                 | nan             | 1,105       | 30                              | 0                                       | 0           | 0                                                | 0                     | 0                 |                                | 1,135                   | 0                  |                                                                    | 758                           | 80                    | 199                                         | 275          | 175               | 16              | 13                         | 0                |                                                                                        | 758                             | 80                      | 474                 | 204                         |                                                                  | 392         | 0                 | 24                 | 31                 | 0                  | 30                 | 0                  | 0                  | 34                 | 37                 | 0                  | 17                 | 54                 | 62                   | 44                   | 43                   | 16               |                                                                         | $90,461                                                      |                                                                                   | $90,461                                         | $90,691        | nan             |                                                                   | $32,419                                                |                   | 392                     | 359              | 33                |                                          | 359                           | 340                                             | 19                   |                                                             | 359                           | 0                 | 13                 | 74                 | 11                   | 139                  | 122                  | 0                    | 0                    | 0                  |                                                          | 377                                                                     | 75                | 302                       |                                                                | 606                                                             | 80                  | 526                         |                                                                   | 152                                                                | 13                  | 139                         | nan                               | 0.178556                         | 0.0763697                              | 10.2231                                | 10.2995
3.7005e+06  | nan                            | Ahoskie town       | 91          | Hertford    | 4,819            |                                              | 1095                              | 4.4         |                | 256           | 178          | 312            | 196            | 445            | 739            | 442            | 518            | 764            | 500            | 282            | 187               | nan             | 1,270       | 3,089                           | 93                                      | 144         | 4                                                | 21                    | 198               |                                | 4,654                   | 165                |                                                                    | 3,432                         | 738                   | 1,159                                       | 937          | 407               | 147             | 35                         | 9                |                                                                                        | 3,432                           | 738                     | 2,096               | 598                         |                                                                  | 1,906       | 261               | 182                | 152                | 126                | 112                | 106                | 77                 | 117                | 93                 | 180                | 143                | 179                | 86                   | 42                   | 33                   | 17               |                                                                         | $35,972                                                      |                                                                                   | $35,972                                         | $51,875        | $26,494         |                                                                   | $20,640                                                |                   | 1,906                   | 791              | 1,115             |                                          | 791                           | 301                                             | 490                  |                                                             | 791                           | 20                | 57                 | 373                | 161                  | 153                  | 17                   | 1                    | 3                    | 6                  |                                                          | 940                                                                     | 301               | 639                       |                                                                | 2,841                                                           | 623                 | 2,218                       |                                                                   | 803                                                                | 160                 | 643                         | 67                                | 0.858834                         | 1.36687                                | 10.2226                                | 11.5895
3.70064e+06 | nan                            | Alamance village   | 1           | Alamance    | 1,280            |                                              | 1609.8                            | 0.8         |                | 15            | 108          | 152            | 98             | 69             | 81             | 233            | 186            | 152            | 140            | 29             | 17                | nan             | 1,166       | 48                              | 7                                       | 4           | 0                                                | 43                    | 12                |                                | 1,237                   | 43                 |                                                                    | 838                           | 31                    | 158                                         | 271          | 252               | 94              | 21                         | 11               |                                                                                        | 838                             | 31                      | 429                 | 378                         |                                                                  | 419         | 0                 | 5                  | 7                  | 9                  | 7                  | 15                 | 10                 | 9                  | 2                  | 22                 | 75                 | 64                 | 35                   | 43                   | 79                   | 37               |                                                                         | $89,688                                                      |                                                                                   | $89,688                                         | $97,083        | nan             |                                                                   | $37,828                                                |                   | 419                     | 397              | 22                |                                          | 397                           | 367                                             | 30                   |                                                             | 397                           | 14                | 2                  | 34                 | 26                   | 82                   | 219                  | 20                   | 0                    | 0                  |                                                          | 373                                                                     | 0                 | 373                       |                                                                | 721                                                             | 4                   | 717                         |                                                                   | 186                                                                | 6                   | 180                         | 68                                | 0.155015                         | 1.44167                                | 4.64498                                | 6.08665
3.70068e+06 | nan                            | Albemarle city     | 167         | Stanly      | 16,073           |                                              | 920.6                             | 17.46       |                | 1,008         | 1,324        | 876            | 449            | 1,350          | 2,335          | 1,450          | 1,664          | 2,102          | 1,869          | 1,061          | 585               | nan             | 11,106      | 3,781                           | 252                                     | 159         | 0                                                | 318                   | 457               |                                | 14,902                  | 1,171              |                                                                    | 11,066                        | 1,715                 | 3,280                                       | 4,172        | 1,398             | 338             | 139                        | 24               |                                                                                        | 11,066                          | 1,715                   | 7,452               | 1,899                       |                                                                  | 6,258       | 726               | 432                | 416                | 246                | 366                | 228                | 398                | 363                | 323                | 410                | 736                | 657                | 273                  | 314                  | 190                  | 180              |                                                                         | $44,294                                                      |                                                                                   | $44,294                                         | $66,227        | $21,763         |                                                                   | $24,404                                                |                   | 6,258                   | 3,493            | 2,765             |                                          | 3,493                         | 2,932                                           | 561                  |                                                             | 3,493                         | 43                | 154                | 1,022              | 960                  | 1,088                | 165                  | 45                   | 0                    | 16                 |                                                          | 3,640                                                                   | 1,264             | 2,376                     |                                                                | 8,783                                                           | 1,697               | 7,086                       |                                                                   | 3,107                                                              | 433                 | 2,674                       | 87                                | 0.674897                         | 0.636167                               | 7.19065                                | 7.82681

In [12]:
edf_data_3.drop("SE:A00002. Population Density (Per Sq. Mile)", "")

Place FIPS  | Unincorporated, Non-Place FIPS | Geography Name     | County FIPS | County Name | Total Population | Population Density (Per Sq. Mile) | Area (Land) | SE:A01001. Age | Under 5 Years | 5 to 9 Years | 10 to 14 Years | 15 to 17 Years | 18 to 24 Years | 25 to 34 Years | 35 to 44 Years | 45 to 54 Years | 55 to 64 Years | 65 to 74 Years | 75 to 84 Years | 85 Years and Over | SE:A03001. Race | White Alone | Black or African American Alone | American Indian and Alaska Native Alone | Asian Alone | Native Hawaiian and Other Pacific Islander Alone | Some Other Race Alone | Two or More Races | SE:B04001. Hispanic or Latino  | Not Hispanic or Latino: | Hispanic or Latino | SE:A12001. Educational Attainment for Population 25 Years and Over | Population 25 Years and Over: | Less than High School | High School Graduate (Includes Equivalency) | Some College | Bachelor's Degree | Master's Degree | Professional School Degree | Doctorate Degree | SE:B12001. Educational Attainment for Population 25 Years and Over (Collapsed Version) | Population 25 Years and Over:.1 | Less than High School.1 | High School Diploma | Bachelor's Degree or Better | SE:A14001. Household Income (In 2020 Inflation Adjusted Dollars) | Households: | Less than $10,000 | $10,000 to $14,999 | $15,000 to $19,999 | $20,000 to $24,999 | $25,000 to $29,999 | $30,000 to $34,999 | $35,000 to $39,999 | $40,000 to $44,999 | $45,000 to $49,999 | $50,000 to $59,999 | $60,000 to $74,999 | $75,000 to $99,999 | $100,000 to $124,999 | $125,000 to $149,999 | $150,000 to $199,999 | $200,000 or More | SE:A14006. Median Household Income (In 2020 Inflation Adjusted Dollars) | Median Household Income (In 2020 Inflation Adjusted Dollars) | SE:A14015. Median Household Income by Tenure (In 2020 Inflation Adjusted Dollars) | Median Household Income Occupied Housing Units: | Owner Occupied | Renter Occupied | SE:A14024. Per Capita Income (In 2020 Inflation Adjusted Dollars) | Per Capita Income (In 2020 Inflation Adjusted Dollars) | SE:A10060. Tenure | Occupied Housing Units: | Owner Occupied.1 | Renter Occupied.1 | SE:B10060. White vs Non-White Homeowners | Owner Occupied Housing Units: | White Alone, Not Hispanic or Latino Homeowners  | Non-White Homeowners | SE:A10035. House Value for All Owner-Occupied Housing Units | Owner-Occupied Housing Units: | Less than $20,000 | $20,000 to $49,999 | $50,000 to $99,999 | $100,000 to $149,999 | $150,000 to $299,999 | $300,000 to $499,999 | $500,000 to $749,999 | $750,000 to $999,999 | $1,000,000 or More | SE:A13003A. Poverty Status in 2020 for Children Under 18 | Population Under 18 Years of Age for Whom Poverty Status Is Determined: | Living in Poverty | At or Above Poverty Level | SE:A13003B. Poverty Status in 2020 for Population Age 18 to 64 | Population Age 18 to 64 for Whom Poverty Status  Is Determined: | Living in Poverty.1 | At or Above Poverty Level.1 | SE:A13003C. Poverty Status in 2020 for Population Age 65 and Over | Population Age 65 and Over for Whom Poverty  Status Is Determined: | Living in Poverty.2 | At or Above Poverty Level.2 | Rural Capacity (Headwaters Index) | Social Vulnerability (CDC Index) | Percent of Land in 500-Year Floodplain | Percent of Land in 100-Year Floodplain | Total Percent of Land at Some Level of Flood Risk
3.70016e+06 | nan                            | Aberdeen town      | 125         | Moore       | 7,862            | 774.8                             | 10.15       |                | 849           | 723          | 277            | 116            | 434            | 1,116          | 1,279          | 821            | 821            | 706            | 589            | 131               | nan             | 6,449       | 1,092                           | 73                                      | 1           | 0                                                | 89                    | 158               |                                | 7,524                   | 338                |                                                                    | 5,463                         | 306                   | 1,271                                       | 1,917        | 1,380             | 505             | 66                         | 18               |                                                                                        | 5,463                           | 306                     | 3,188               | 1,969                       |                                                                  | 3,136       | 79                | 147                | 138                | 95                 | 217                | 172                | 251                | 77                 | 72                 | 350                | 542                | 377                | 282                  | 130                  | 107                  | 100              |                                                                         | $58,770                                                      |                                                                                   | $58,770                                         | $62,137        | $35,563         |                                                                   | $28,117                                                |                   | 3,136                   | 2,107            | 1,029             |                                          | 2,107                         | 1,692                                           | 415                  |                                                             | 2,107                         | 0                 | 0                  | 153                | 358                  | 1,165                | 418                  | 13                   | 0                    | 0                  |                                                          | 1,962                                                                   | 100               | 1,862                     |                                                                | 4,462                                                           | 378                 | 4,084                       |                                                                   | 1,313                                                              | 61                  | 1,252                       | 74                                | 0.480342                         | 0.430322                               | 4.21602                                | 4.64635
3.70044e+06 | nan                            | Advance CDP        | 59          | Davie       | 1,135            | 158.5                             | 7.16        |                | 141           | 116          | 87             | 33             | 0              | 139            | 102            | 182            | 183            | 87             | 65             | 0                 | nan             | 1,105       | 30                              | 0                                       | 0           | 0                                                | 0                     | 0                 |                                | 1,135                   | 0                  |                                                                    | 758                           | 80                    | 199                                         | 275          | 175               | 16              | 13                         | 0                |                                                                                        | 758                             | 80                      | 474                 | 204                         |                                                                  | 392         | 0                 | 24                 | 31                 | 0                  | 30                 | 0                  | 0                  | 34                 | 37                 | 0                  | 17                 | 54                 | 62                   | 44                   | 43                   | 16               |                                                                         | $90,461                                                      |                                                                                   | $90,461                                         | $90,691        | nan             |                                                                   | $32,419                                                |                   | 392                     | 359              | 33                |                                          | 359                           | 340                                             | 19                   |                                                             | 359                           | 0                 | 13                 | 74                 | 11                   | 139                  | 122                  | 0                    | 0                    | 0                  |                                                          | 377                                                                     | 75                | 302                       |                                                                | 606                                                             | 80                  | 526                         |                                                                   | 152                                                                | 13                  | 139                         | nan                               | 0.178556                         | 0.0763697                              | 10.2231                                | 10.2995
3.7005e+06  | nan                            | Ahoskie town       | 91          | Hertford    | 4,819            | 1095                              | 4.4         |                | 256           | 178          | 312            | 196            | 445            | 739            | 442            | 518            | 764            | 500            | 282            | 187               | nan             | 1,270       | 3,089                           | 93                                      | 144         | 4                                                | 21                    | 198               |                                | 4,654                   | 165                |                                                                    | 3,432                         | 738                   | 1,159                                       | 937          | 407               | 147             | 35                         | 9                |                                                                                        | 3,432                           | 738                     | 2,096               | 598                         |                                                                  | 1,906       | 261               | 182                | 152                | 126                | 112                | 106                | 77                 | 117                | 93                 | 180                | 143                | 179                | 86                   | 42                   | 33                   | 17               |                                                                         | $35,972                                                      |                                                                                   | $35,972                                         | $51,875        | $26,494         |                                                                   | $20,640                                                |                   | 1,906                   | 791              | 1,115             |                                          | 791                           | 301                                             | 490                  |                                                             | 791                           | 20                | 57                 | 373                | 161                  | 153                  | 17                   | 1                    | 3                    | 6                  |                                                          | 940                                                                     | 301               | 639                       |                                                                | 2,841                                                           | 623                 | 2,218                       |                                                                   | 803                                                                | 160                 | 643                         | 67                                | 0.858834                         | 1.36687                                | 10.2226                                | 11.5895
3.70064e+06 | nan                            | Alamance village   | 1           | Alamance    | 1,280            | 1609.8                            | 0.8         |                | 15            | 108          | 152            | 98             | 69             | 81             | 233            | 186            | 152            | 140            | 29             | 17                | nan             | 1,166       | 48                              | 7                                       | 4           | 0                                                | 43                    | 12                |                                | 1,237                   | 43                 |                                                                    | 838                           | 31                    | 158                                         | 271          | 252               | 94              | 21                         | 11               |                                                                                        | 838                             | 31                      | 429                 | 378                         |                                                                  | 419         | 0                 | 5                  | 7                  | 9                  | 7                  | 15                 | 10                 | 9                  | 2                  | 22                 | 75                 | 64                 | 35                   | 43                   | 79                   | 37               |                                                                         | $89,688                                                      |                                                                                   | $89,688                                         | $97,083        | nan             |                                                                   | $37,828                                                |                   | 419                     | 397              | 22                |                                          | 397                           | 367                                             | 30                   |                                                             | 397                           | 14                | 2                  | 34                 | 26                   | 82                   | 219                  | 20                   | 0                    | 0                  |                                                          | 373                                                                     | 0                 | 373                       |                                                                | 721                                                             | 4                   | 717                         |                                                                   | 186                                                                | 6                   | 180                         | 68                                | 0.155015                         | 1.44167                                | 4.64498                                | 6.08665
3.70068e+06 | nan                            | Albemarle city     | 167         | Stanly      | 16,073           | 920.6                             | 17.46       |                | 1,008         | 1,324        | 876            | 449            | 1,350          | 2,335          | 1,450          | 1,664          | 2,102          | 1,869          | 1,061          | 585               | nan             | 11,106      | 3,781                           | 252                                     | 159         | 0                                                | 318                   | 457               |                                | 14,902                  | 1,171              |                                                                    | 11,066                        | 1,715                 | 3,280                                       | 4,172        | 1,398             | 338             | 139                        | 24               |                                                                                        | 11,066                          | 1,715                   | 7,452               | 1,899                       |                                                                  | 6,258       | 726               | 432                | 416                | 246                | 366                | 228                | 398                | 363                | 323                | 410                | 736                | 657                | 273                  | 314                  | 190                  | 180              |                                                                         | $44,294                                                      |                                                                                   | $44,294                                         | $66,227        | $21,763         |                                                                   | $24,404                                                |                   | 6,258                   | 3,493            | 2,765             |                                          | 3,493                         | 2,932                                           | 561                  |                                                             | 3,493                         | 43                | 154                | 1,022              | 960                  | 1,088                | 165                  | 45                   | 0                    | 16                 |                                                          | 3,640                                                                   | 1,264             | 2,376                     |                                                                | 8,783                                                           | 1,697               | 7,086                       |                                                                   | 3,107                                                              | 433                 | 2,674                       | 87                                | 0.674897                         | 0.636167                               | 7.19065                                | 7.82681

In [13]:
edf_data_3.drop("Unincorporated, Non-Place FIPS", "SE:A03001. Race", "SE:B04001. Hispanic or Latino", "SE:A12001. Educational Attainment for Population 25 Years and Over", "SE:B12001. Educational Attainment for Population 25 Years and Over (CollapsedVersion)")

Place FIPS  | Geography Name     | County FIPS | County Name | Total Population | SE:A00002. Population Density (Per Sq. Mile) | Population Density (Per Sq. Mile) | Area (Land) | SE:A01001. Age | Under 5 Years | 5 to 9 Years | 10 to 14 Years | 15 to 17 Years | 18 to 24 Years | 25 to 34 Years | 35 to 44 Years | 45 to 54 Years | 55 to 64 Years | 65 to 74 Years | 75 to 84 Years | 85 Years and Over | White Alone | Black or African American Alone | American Indian and Alaska Native Alone | Asian Alone | Native Hawaiian and Other Pacific Islander Alone | Some Other Race Alone | Two or More Races | SE:B04001. Hispanic or Latino  | Not Hispanic or Latino: | Hispanic or Latino | Population 25 Years and Over: | Less than High School | High School Graduate (Includes Equivalency) | Some College | Bachelor's Degree | Master's Degree | Professional School Degree | Doctorate Degree | SE:B12001. Educational Attainment for Population 25 Years and Over (Collapsed Version) | Population 25 Years and Over:.1 | Less than High School.1 | High School Diploma | Bachelor's Degree or Better | SE:A14001. Household Income (In 2020 Inflation Adjusted Dollars) | Households: | Less than $10,000 | $10,000 to $14,999 | $15,000 to $19,999 | $20,000 to $24,999 | $25,000 to $29,999 | $30,000 to $34,999 | $35,000 to $39,999 | $40,000 to $44,999 | $45,000 to $49,999 | $50,000 to $59,999 | $60,000 to $74,999 | $75,000 to $99,999 | $100,000 to $124,999 | $125,000 to $149,999 | $150,000 to $199,999 | $200,000 or More | SE:A14006. Median Household Income (In 2020 Inflation Adjusted Dollars) | Median Household Income (In 2020 Inflation Adjusted Dollars) | SE:A14015. Median Household Income by Tenure (In 2020 Inflation Adjusted Dollars) | Median Household Income Occupied Housing Units: | Owner Occupied | Renter Occupied | SE:A14024. Per Capita Income (In 2020 Inflation Adjusted Dollars) | Per Capita Income (In 2020 Inflation Adjusted Dollars) | SE:A10060. Tenure | Occupied Housing Units: | Owner Occupied.1 | Renter Occupied.1 | SE:B10060. White vs Non-White Homeowners | Owner Occupied Housing Units: | White Alone, Not Hispanic or Latino Homeowners  | Non-White Homeowners | SE:A10035. House Value for All Owner-Occupied Housing Units | Owner-Occupied Housing Units: | Less than $20,000 | $20,000 to $49,999 | $50,000 to $99,999 | $100,000 to $149,999 | $150,000 to $299,999 | $300,000 to $499,999 | $500,000 to $749,999 | $750,000 to $999,999 | $1,000,000 or More | SE:A13003A. Poverty Status in 2020 for Children Under 18 | Population Under 18 Years of Age for Whom Poverty Status Is Determined: | Living in Poverty | At or Above Poverty Level | SE:A13003B. Poverty Status in 2020 for Population Age 18 to 64 | Population Age 18 to 64 for Whom Poverty Status  Is Determined: | Living in Poverty.1 | At or Above Poverty Level.1 | SE:A13003C. Poverty Status in 2020 for Population Age 65 and Over | Population Age 65 and Over for Whom Poverty  Status Is Determined: | Living in Poverty.2 | At or Above Poverty Level.2 | Rural Capacity (Headwaters Index) | Social Vulnerability (CDC Index) | Percent of Land in 500-Year Floodplain | Percent of Land in 100-Year Floodplain | Total Percent of Land at Some Level of Flood Risk
3.70016e+06 | Aberdeen town      | 125         | Moore       | 7,862            |                                              | 774.8                             | 10.15       |                | 849           | 723          | 277            | 116            | 434            | 1,116          | 1,279          | 821            | 821            | 706            | 589            | 131               | 6,449       | 1,092                           | 73                                      | 1           | 0                                                | 89                    | 158               |                                | 7,524                   | 338                | 5,463                         | 306                   | 1,271                                       | 1,917        | 1,380             | 505             | 66                         | 18               |                                                                                        | 5,463                           | 306                     | 3,188               | 1,969                       |                                                                  | 3,136       | 79                | 147                | 138                | 95                 | 217                | 172                | 251                | 77                 | 72                 | 350                | 542                | 377                | 282                  | 130                  | 107                  | 100              |                                                                         | $58,770                                                      |                                                                                   | $58,770                                         | $62,137        | $35,563         |                                                                   | $28,117                                                |                   | 3,136                   | 2,107            | 1,029             |                                          | 2,107                         | 1,692                                           | 415                  |                                                             | 2,107                         | 0                 | 0                  | 153                | 358                  | 1,165                | 418                  | 13                   | 0                    | 0                  |                                                          | 1,962                                                                   | 100               | 1,862                     |                                                                | 4,462                                                           | 378                 | 4,084                       |                                                                   | 1,313                                                              | 61                  | 1,252                       | 74                                | 0.480342                         | 0.430322                               | 4.21602                                | 4.64635
3.70044e+06 | Advance CDP        | 59          | Davie       | 1,135            |                                              | 158.5                             | 7.16        |                | 141           | 116          | 87             | 33             | 0              | 139            | 102            | 182            | 183            | 87             | 65             | 0                 | 1,105       | 30                              | 0                                       | 0           | 0                                                | 0                     | 0                 |                                | 1,135                   | 0                  | 758                           | 80                    | 199                                         | 275          | 175               | 16              | 13                         | 0                |                                                                                        | 758                             | 80                      | 474                 | 204                         |                                                                  | 392         | 0                 | 24                 | 31                 | 0                  | 30                 | 0                  | 0                  | 34                 | 37                 | 0                  | 17                 | 54                 | 62                   | 44                   | 43                   | 16               |                                                                         | $90,461                                                      |                                                                                   | $90,461                                         | $90,691        | nan             |                                                                   | $32,419                                                |                   | 392                     | 359              | 33                |                                          | 359                           | 340                                             | 19                   |                                                             | 359                           | 0                 | 13                 | 74                 | 11                   | 139                  | 122                  | 0                    | 0                    | 0                  |                                                          | 377                                                                     | 75                | 302                       |                                                                | 606                                                             | 80                  | 526                         |                                                                   | 152                                                                | 13                  | 139                         | nan                               | 0.178556                         | 0.0763697                              | 10.2231                                | 10.2995
3.7005e+06  | Ahoskie town       | 91          | Hertford    | 4,819            |                                              | 1095                              | 4.4         |                | 256           | 178          | 312            | 196            | 445            | 739            | 442            | 518            | 764            | 500            | 282            | 187               | 1,270       | 3,089                           | 93                                      | 144         | 4                                                | 21                    | 198               |                                | 4,654                   | 165                | 3,432                         | 738                   | 1,159                                       | 937          | 407               | 147             | 35                         | 9                |                                                                                        | 3,432                           | 738                     | 2,096               | 598                         |                                                                  | 1,906       | 261               | 182                | 152                | 126                | 112                | 106                | 77                 | 117                | 93                 | 180                | 143                | 179                | 86                   | 42                   | 33                   | 17               |                                                                         | $35,972                                                      |                                                                                   | $35,972                                         | $51,875        | $26,494         |                                                                   | $20,640                                                |                   | 1,906                   | 791              | 1,115             |                                          | 791                           | 301                                             | 490                  |                                                             | 791                           | 20                | 57                 | 373                | 161                  | 153                  | 17                   | 1                    | 3                    | 6                  |                                                          | 940                                                                     | 301               | 639                       |                                                                | 2,841                                                           | 623                 | 2,218                       |                                                                   | 803                                                                | 160                 | 643                         | 67                                | 0.858834                         | 1.36687                                | 10.2226                                | 11.5895
3.70064e+06 | Alamance village   | 1           | Alamance    | 1,280            |                                              | 1609.8                            | 0.8         |                | 15            | 108          | 152            | 98             | 69             | 81             | 233            | 186            | 152            | 140            | 29             | 17                | 1,166       | 48                              | 7                                       | 4           | 0                                                | 43                    | 12                |                                | 1,237                   | 43                 | 838                           | 31                    | 158                                         | 271          | 252               | 94              | 21                         | 11               |                                                                                        | 838                             | 31                      | 429                 | 378                         |                                                                  | 419         | 0                 | 5                  | 7                  | 9                  | 7                  | 15                 | 10                 | 9                  | 2                  | 22                 | 75                 | 64                 | 35                   | 43                   | 79                   | 37               |                                                                         | $89,688                                                      |                                                                                   | $89,688                                         | $97,083        | nan             |                                                                   | $37,828                                                |                   | 419                     | 397              | 22                |                                          | 397                           | 367                                             | 30                   |                                                             | 397                           | 14                | 2                  | 34                 | 26                   | 82                   | 219                  | 20                   | 0                    | 0                  |                                                          | 373                                                                     | 0                 | 373                       |                                                                | 721                                                             | 4                   | 717                         |                                                                   | 186                                                                | 6                   | 180                         | 68                                | 0.155015                         | 1.44167                                | 4.64498                                | 6.08665
3.70068e+06 | Albemarle city     | 167         | Stanly      | 16,073           |                                              | 920.6                             | 17.46       |                | 1,008         | 1,324        | 876            | 449            | 1,350          | 2,335          | 1,450          | 1,664          | 2,102          | 1,869          | 1,061          | 585               | 11,106      | 3,781                           | 252                                     | 159         | 0                                                | 318                   | 457               |                                | 14,902                  | 1,171              | 11,066                        | 1,715                 | 3,280                                       | 4,172        | 1,398             | 338             | 139                        | 24               |                                                                                        | 11,066                          | 1,715                   | 7,452               | 1,899                       |                                                                  | 6,258       | 726               | 432                | 416                | 246                | 366                | 228                | 398                | 363                | 323                | 410                | 736                | 657                | 273                  | 314                  | 190                  | 180              |                                                                         | $44,294                                                      |                                                                                   | $44,294                                         | $66,227        | $21,763         |                                                                   | $24,404                                                |                   | 6,258                   | 3,493            | 2,765             |                                          | 3,493                         | 2,932                                           | 561                  |                                                             | 3,493                         | 43                | 154                | 1,022              | 960                  | 1,088                | 165                  | 45                   | 0                    | 16                 |                                                          | 3,640                                                                   | 1,264             | 2,376                     |                                                                | 8,783                                                           | 1,697               | 7,086                       |                                                                   | 3,107                                                              | 433                 | 2,674                       | 87                                | 0.674897                         | 0.636167                               | 7.19065                                | 7.82681

In [14]:
isinstance(edf_data_2['Total Population'][0], float)

False

In [15]:
edf_data_5 = edf_data_2["Total Population"].astype(float)

ValueError: could not convert string to float: '7,862'

In [ ]:
# Save to csv
edf_data_2

In [ ]:
edf_data_2.drop("Unincorporated, Non-Place FIPS", "SE:A03001. Race", "SE:B04001. Hispanic or Latino", "SE:A12001. Educational Attainment for Population 25 Years and Over", "SE:B12001. Educational Attainment for Population 25 Years and Over (CollapsedVersion)")

In [ ]:
edf_data_3.drop("Unincorporated, Non-Place FIPS", "SE:A03001. Race", "SE:B04001. Hispanic or Latino", "SE:A12001. Educational Attainment for Population 25 Years and Over", "SE:B12001. Educational Attainment for Population 25 Years and Over (CollapsedVersion)")

In [ ]:
print(type(edf_data_2['Total Population'][0])) # str needs to convert to a float

In [ ]:
edf_data_2['Total Population'] = edf_data_2['Total Population'].astype(float)

In [ ]:
# Remove commas from Total Population
edf_data_2['Total Population'] = edf_data_2['Total Population'].str.replace(',', '')

In [ ]:
edf_data_2['Total Population'] = edf_data_2['Total Population'].astype(float)

Have to remove all commas from the Total Population column then you can convert it to a float.
SAMPLE CODE:

column_name = "CHANGE THIS"
edf_data_2[column_name] = edf_data_2[column_name].str.replace(',', '')
edf_data_2[column_name] = edf_data_2[column_name].astype(float)

In [6]:
def str_to_flt(column_name):
    edf_data_2[column_name] = edf_data_2[column_name].str.replace(',', '')
    edf_data_2[column_name] = edf_data_2[column_name].astype(float)
    print(type(edf_data_2[column_name][0]))

In [22]:
print(type(edf_data_2['Total Population'][0]))

<class 'str'>

Success! I was able to convert the Total Population column to a float.

In [23]:
edf_data_2.hist(column='Total Population')

ValueError: hist method requires numerical or datetime columns, nothing to plot.

In [25]:
edf_data_2

,Place FIPS,"Unincorporated, Non-Place FIPS",Geography Name,County FIPS,County Name,Total Population,SE:A00002. Population Density (Per Sq. Mile),Population Density (Per Sq. Mile),Area (Land),SE:A01001. Age,...,At or Above Poverty Level.1,SE:A13003C. Poverty Status in 2020 for Population Age 65 and Over,Population Age 65 and Over for Whom Poverty Status Is Determined:,Living in Poverty.2,At or Above Poverty Level.2,Rural Capacity (Headwaters Index),Social Vulnerability (CDC Index),Percent of Land in 500-Year Floodplain,Percent of Land in 100-Year Floodplain,Total Percent of Land at Some Level of Flood Risk
0,3700160.0,NaN,Aberdeen town,125,Moore,"7,862",,774.8,10.15,,...,"4,084",,"1,313",61,"1,252",74.0,0.480342,0.430322,4.216025,4.646347
2,3700440.0,NaN,Advance CDP,59,Davie,"1,135",,158.5,7.16,,...,526,,152,13,139,NaN,0.178556,0.076370,10.223087,10.299457
4,3700500.0,NaN,Ahoskie town,91,Hertford,"4,819",,1095,4.40,,...,"2,218",,803,160,643,67.0,0.858834,1.366875,10.222625,11.589500
6,3700640.0,NaN,Alamance village,1,Alamance,"1,280",,1609.8,0.80,,...,717,,186,6,180,68.0,0.155015,1.441673,4.644978,6.086651
8,3700680.0,NaN,Albemarle city,167,Stanly,"16,073",,920.6,17.46,,...,"7,086",,"3,107",433,"2,674",87.0,0.674897,0.636167,7.190647,7.826814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1542,3775880.0,NaN,Yadkin College CDP,57,Davidson,696,NaN,241.5,2.88,,...,451,,17,0,17,NaN,0.711202,0.000000,18.048295,18.048295
1544,3775960.0,NaN,Yadkinville town,197,Yadkin,"2,892",NaN,986.9,2.93,,...,"1,305",,601,27,574,68.0,0.689500,0.000000,0.086351,0.086351
1546,3776000.0,NaN,Yanceyville town,33,Caswell,"2,830",NaN,408.6,6.93,,...,644,,731,225,506,52.0,0.964238,0.005202,4.781693,4.786895
1548,3776200.0,NaN,Youngsville town,69,Franklin,"2,225",NaN,"1,213.50",1.83,,...,"1,273",,130,2,128,75.0,0.220796,0.000000,1.286394,1.286394
1550,3776220.0,NaN,Zebulon town,183,Wake,"5,712",NaN,"1,088.80",5.25,,...,"2,644",,"1,065",157,908,NaN,0.722990,0.584495,3.709574,4.294068

In [26]:
str_to_flt("Under 5 Years")

<class 'numpy.float64'>

/var/folders/sb/jbh1d71j5c9clmnb_rnsjqb00000gn/T/ipykernel_51716/2816008489.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edf_data_2[column_name] = edf_data_2[column_name].str.replace(',', '')
/var/folders/sb/jbh1d71j5c9clmnb_rnsjqb00000gn/T/ipykernel_51716/2816008489.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edf_data_2[column_name] = edf_data_2[column_name].astype(float)

In [27]:
edf_data_2

,Place FIPS,"Unincorporated, Non-Place FIPS",Geography Name,County FIPS,County Name,Total Population,SE:A00002. Population Density (Per Sq. Mile),Population Density (Per Sq. Mile),Area (Land),SE:A01001. Age,...,At or Above Poverty Level.1,SE:A13003C. Poverty Status in 2020 for Population Age 65 and Over,Population Age 65 and Over for Whom Poverty Status Is Determined:,Living in Poverty.2,At or Above Poverty Level.2,Rural Capacity (Headwaters Index),Social Vulnerability (CDC Index),Percent of Land in 500-Year Floodplain,Percent of Land in 100-Year Floodplain,Total Percent of Land at Some Level of Flood Risk
0,3700160.0,NaN,Aberdeen town,125,Moore,"7,862",,774.8,10.15,,...,"4,084",,"1,313",61,"1,252",74.0,0.480342,0.430322,4.216025,4.646347
2,3700440.0,NaN,Advance CDP,59,Davie,"1,135",,158.5,7.16,,...,526,,152,13,139,NaN,0.178556,0.076370,10.223087,10.299457
4,3700500.0,NaN,Ahoskie town,91,Hertford,"4,819",,1095,4.40,,...,"2,218",,803,160,643,67.0,0.858834,1.366875,10.222625,11.589500
6,3700640.0,NaN,Alamance village,1,Alamance,"1,280",,1609.8,0.80,,...,717,,186,6,180,68.0,0.155015,1.441673,4.644978,6.086651
8,3700680.0,NaN,Albemarle city,167,Stanly,"16,073",,920.6,17.46,,...,"7,086",,"3,107",433,"2,674",87.0,0.674897,0.636167,7.190647,7.826814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1542,3775880.0,NaN,Yadkin College CDP,57,Davidson,696,NaN,241.5,2.88,,...,451,,17,0,17,NaN,0.711202,0.000000,18.048295,18.048295
1544,3775960.0,NaN,Yadkinville town,197,Yadkin,"2,892",NaN,986.9,2.93,,...,"1,305",,601,27,574,68.0,0.689500,0.000000,0.086351,0.086351
1546,3776000.0,NaN,Yanceyville town,33,Caswell,"2,830",NaN,408.6,6.93,,...,644,,731,225,506,52.0,0.964238,0.005202,4.781693,4.786895
1548,3776200.0,NaN,Youngsville town,69,Franklin,"2,225",NaN,"1,213.50",1.83,,...,"1,273",,130,2,128,75.0,0.220796,0.000000,1.286394,1.286394
1550,3776220.0,NaN,Zebulon town,183,Wake,"5,712",NaN,"1,088.80",5.25,,...,"2,644",,"1,065",157,908,NaN,0.722990,0.584495,3.709574,4.294068

In [28]:
str_to_flt("5 to 9 Years")
str_to_flt("10 to 14 Years")
str_to_flt("15 to 17 Years")

<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>

/var/folders/sb/jbh1d71j5c9clmnb_rnsjqb00000gn/T/ipykernel_51716/2816008489.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edf_data_2[column_name] = edf_data_2[column_name].str.replace(',', '')
/var/folders/sb/jbh1d71j5c9clmnb_rnsjqb00000gn/T/ipykernel_51716/2816008489.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edf_data_2[column_name] = edf_data_2[column_name].astype(float)

In [ ]:
edf_data_2

In [29]:
str_to_flt("18 to 24 Years")
str_to_flt("25 to 34 Years")
str_to_flt("35 to 44 Years")
str_to_flt("45 to 54 Years")
str_to_flt("55 to 64 Years")
str_to_flt("65 to 74 Years")
str_to_flt("75 to 84 Years")
str_to_flt("85 Years and Over")
str_to_flt("White Alone")

<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>

/var/folders/sb/jbh1d71j5c9clmnb_rnsjqb00000gn/T/ipykernel_51716/2816008489.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edf_data_2[column_name] = edf_data_2[column_name].str.replace(',', '')
/var/folders/sb/jbh1d71j5c9clmnb_rnsjqb00000gn/T/ipykernel_51716/2816008489.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edf_data_2[column_name] = edf_data_2[column_name].astype(float)

Black or African American Alone is the next column to be converted!

In [30]:
str_to_flt("Black or African American Alone")
str_to_flt("American Indian and Alaska Native Alone")
str_to_flt("Asian Alone")
str_to_flt("Native Hawaiian and Other Pacific Islander Alone")

<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>

/var/folders/sb/jbh1d71j5c9clmnb_rnsjqb00000gn/T/ipykernel_51716/2816008489.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edf_data_2[column_name] = edf_data_2[column_name].str.replace(',', '')
/var/folders/sb/jbh1d71j5c9clmnb_rnsjqb00000gn/T/ipykernel_51716/2816008489.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edf_data_2[column_name] = edf_data_2[column_name].astype(float)

In [32]:
edf_data_2

,Place FIPS,"Unincorporated, Non-Place FIPS",Geography Name,County FIPS,County Name,Total Population,SE:A00002. Population Density (Per Sq. Mile),Population Density (Per Sq. Mile),Area (Land),SE:A01001. Age,...,At or Above Poverty Level.1,SE:A13003C. Poverty Status in 2020 for Population Age 65 and Over,Population Age 65 and Over for Whom Poverty Status Is Determined:,Living in Poverty.2,At or Above Poverty Level.2,Rural Capacity (Headwaters Index),Social Vulnerability (CDC Index),Percent of Land in 500-Year Floodplain,Percent of Land in 100-Year Floodplain,Total Percent of Land at Some Level of Flood Risk
0,3700160.0,NaN,Aberdeen town,125,Moore,"7,862",,774.8,10.15,,...,"4,084",,"1,313",61,"1,252",74.0,0.480342,0.430322,4.216025,4.646347
2,3700440.0,NaN,Advance CDP,59,Davie,"1,135",,158.5,7.16,,...,526,,152,13,139,NaN,0.178556,0.076370,10.223087,10.299457
4,3700500.0,NaN,Ahoskie town,91,Hertford,"4,819",,1095,4.40,,...,"2,218",,803,160,643,67.0,0.858834,1.366875,10.222625,11.589500
6,3700640.0,NaN,Alamance village,1,Alamance,"1,280",,1609.8,0.80,,...,717,,186,6,180,68.0,0.155015,1.441673,4.644978,6.086651
8,3700680.0,NaN,Albemarle city,167,Stanly,"16,073",,920.6,17.46,,...,"7,086",,"3,107",433,"2,674",87.0,0.674897,0.636167,7.190647,7.826814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1542,3775880.0,NaN,Yadkin College CDP,57,Davidson,696,NaN,241.5,2.88,,...,451,,17,0,17,NaN,0.711202,0.000000,18.048295,18.048295
1544,3775960.0,NaN,Yadkinville town,197,Yadkin,"2,892",NaN,986.9,2.93,,...,"1,305",,601,27,574,68.0,0.689500,0.000000,0.086351,0.086351
1546,3776000.0,NaN,Yanceyville town,33,Caswell,"2,830",NaN,408.6,6.93,,...,644,,731,225,506,52.0,0.964238,0.005202,4.781693,4.786895
1548,3776200.0,NaN,Youngsville town,69,Franklin,"2,225",NaN,"1,213.50",1.83,,...,"1,273",,130,2,128,75.0,0.220796,0.000000,1.286394,1.286394
1550,3776220.0,NaN,Zebulon town,183,Wake,"5,712",NaN,"1,088.80",5.25,,...,"2,644",,"1,065",157,908,NaN,0.722990,0.584495,3.709574,4.294068

In [33]:
str_to_flt("Two or More Races")

<class 'numpy.float64'>

/var/folders/sb/jbh1d71j5c9clmnb_rnsjqb00000gn/T/ipykernel_51716/2816008489.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edf_data_2[column_name] = edf_data_2[column_name].str.replace(',', '')
/var/folders/sb/jbh1d71j5c9clmnb_rnsjqb00000gn/T/ipykernel_51716/2816008489.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edf_data_2[column_name] = edf_data_2[column_name].astype(float)

In [34]:
edf_data_2

,Place FIPS,"Unincorporated, Non-Place FIPS",Geography Name,County FIPS,County Name,Total Population,SE:A00002. Population Density (Per Sq. Mile),Population Density (Per Sq. Mile),Area (Land),SE:A01001. Age,...,At or Above Poverty Level.1,SE:A13003C. Poverty Status in 2020 for Population Age 65 and Over,Population Age 65 and Over for Whom Poverty Status Is Determined:,Living in Poverty.2,At or Above Poverty Level.2,Rural Capacity (Headwaters Index),Social Vulnerability (CDC Index),Percent of Land in 500-Year Floodplain,Percent of Land in 100-Year Floodplain,Total Percent of Land at Some Level of Flood Risk
0,3700160.0,NaN,Aberdeen town,125,Moore,"7,862",,774.8,10.15,,...,"4,084",,"1,313",61,"1,252",74.0,0.480342,0.430322,4.216025,4.646347
2,3700440.0,NaN,Advance CDP,59,Davie,"1,135",,158.5,7.16,,...,526,,152,13,139,NaN,0.178556,0.076370,10.223087,10.299457
4,3700500.0,NaN,Ahoskie town,91,Hertford,"4,819",,1095,4.40,,...,"2,218",,803,160,643,67.0,0.858834,1.366875,10.222625,11.589500
6,3700640.0,NaN,Alamance village,1,Alamance,"1,280",,1609.8,0.80,,...,717,,186,6,180,68.0,0.155015,1.441673,4.644978,6.086651
8,3700680.0,NaN,Albemarle city,167,Stanly,"16,073",,920.6,17.46,,...,"7,086",,"3,107",433,"2,674",87.0,0.674897,0.636167,7.190647,7.826814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1542,3775880.0,NaN,Yadkin College CDP,57,Davidson,696,NaN,241.5,2.88,,...,451,,17,0,17,NaN,0.711202,0.000000,18.048295,18.048295
1544,3775960.0,NaN,Yadkinville town,197,Yadkin,"2,892",NaN,986.9,2.93,,...,"1,305",,601,27,574,68.0,0.689500,0.000000,0.086351,0.086351
1546,3776000.0,NaN,Yanceyville town,33,Caswell,"2,830",NaN,408.6,6.93,,...,644,,731,225,506,52.0,0.964238,0.005202,4.781693,4.786895
1548,3776200.0,NaN,Youngsville town,69,Franklin,"2,225",NaN,"1,213.50",1.83,,...,"1,273",,130,2,128,75.0,0.220796,0.000000,1.286394,1.286394
1550,3776220.0,NaN,Zebulon town,183,Wake,"5,712",NaN,"1,088.80",5.25,,...,"2,644",,"1,065",157,908,NaN,0.722990,0.584495,3.709574,4.294068

In [8]:
# itirate through all string columns and convert to float
for column in edf_data_2.columns:
    if isinstance(edf_data_2[column][0], str):
        str_to_flt(column)

/var/folders/sb/jbh1d71j5c9clmnb_rnsjqb00000gn/T/ipykernel_52092/2816008489.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edf_data_2[column_name] = edf_data_2[column_name].str.replace(',', '')

ValueError: could not convert string to float: 'Aberdeen town'

In [9]:
# export to csv
edf_data_2.to_csv('EDF_Database_2v3.csv', index=False)

In [10]:
# get column type
type(edf_data_2['Total Population'][0])

str

In [11]:
# convert all number columns to float type
for column in edf_data_2.columns:
    if isinstance(edf_data_2[column][0], float):
        edf_data_2[column] = edf_data_2[column].astype(float)

/var/folders/sb/jbh1d71j5c9clmnb_rnsjqb00000gn/T/ipykernel_52092/1184906126.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edf_data_2[column] = edf_data_2[column].astype(float)

In [12]:
type(edf_data_2['Total Population'][0])

str